@import "abstracts/mixins";
@import "base/colors";
@import "base/reset";

// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

body{
    background-image:url("./img/blur-clean.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    height: 100vh;
    overflow: hidden;
    @include FAJ;
}

.container{
    @include FAJ;
    max-width: 100%;
    min-width: 100%;

    div{
        &:nth-child(1){
            background-color: $black;
            @include div_same;
            @include anim(2s);
        }
        &:nth-child(2){
            background-color: $red;
            @include div_same;
            @include anim(3.5s);
        }
        &:nth-child(3){
            background-color: $yellow;
            @include div_same;
            @include anim(5s);
        }
    }
}

